In [1]:
import pandas as pd
import numpy as np
from datetime import datetime

In [8]:
a = pd.date_range('1/1/2018', end='1/08/2018', freq='12H')

In [15]:
datetime = pd.DataFrame(a, columns=['datetime'])

In [17]:
datetime

              datetime
0  2018-01-01 00:00:00
1  2018-01-01 12:00:00
2  2018-01-02 00:00:00
3  2018-01-02 12:00:00
4  2018-01-03 00:00:00
5  2018-01-03 12:00:00
6  2018-01-04 00:00:00
7  2018-01-04 12:00:00
8  2018-01-05 00:00:00
9  2018-01-05 12:00:00
10 2018-01-06 00:00:00
11 2018-01-06 12:00:00
12 2018-01-07 00:00:00
13 2018-01-07 12:00:00
14 2018-01-08 00:00:00

In [ ]:
datetime[]

In [13]:
for i in range(len(datetime)-1):
    print((a[i+1]-a[i]).total_seconds()/3600)

12.0
12.0
12.0
12.0
12.0
12.0
12.0
12.0
12.0
12.0
12.0
12.0
12.0
12.0